# Dependencies
node_modules/

# Build output
.next/
dist/
out/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# TypeScript
*.tsbuildinfo
next-env.d.ts
